.registerWindow.closeMiddle {
    display: block;
    border-radius: 10px;
    position: absolute;
    width: 461px;
    height: 552px;
    background-color: #ED2553;
    top: -35px;
    left: 0;
    z-index: 10;
}


.registerWindow.closeMiddle .registerLogoWrapper {
    display: flex;
    margin: 60px 0 40px 0;
    justify-content: space-between;
    align-items: center;
}

.registerWindow.closeMiddle .registerLogo {
    padding-left: 44px;
    color: #ffffff;
    font-family: "Calibri", "Franklin Gothic Demi", "Source Sans Pro Black", "Aharoni", "Cooper Black";
    font-size: 37px;
    line-height: 44px;
    height: 44px;
    border-left-color: white;
    border-left: 4px solid white;
    font-weight: normal;
}

.registerWindow.closeMiddle label {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: "Calibri", "Tahoma";
    font-size: 26px;
    font-weight: lighter;
}

.registerWindow.closeMiddle .itemWrapper {
    width: 100%;
    color: #ffffff;
    margin-bottom: 50px;
}

.registerWindow.closeMiddle .itemWrapper:nth-child(3) {
    margin-bottom: 40px;
}

.registerWindow.closeMiddle .textArea {
    margin: 0 53px;
}

.registerWindow.closeMiddle .nextButton {
    background-color: #fff;
    max-width: 365px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    color: #ED2553;
    font-family: "Arial Unicode MS";
    font-size: 23px;
    font-weight: bolder;
}

.regWindowMask.closeMiddle .shu,
.regWindowMask.closeMiddle .heng {
    width: 6px;
    height: 30px;
    position: absolute;
    background-color: white;
    transform-origin: center center;

}

.regWindowMask.closeMiddle .shu {
    transform: rotate(45deg);
}

.regWindowMask.closeMiddle .heng {
    transform: rotate(-45deg);
}

.regWindowMask.closeMiddle .buttonWrapper {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    align-items: center;
    transform: rotate(0deg);
    position: absolute;
    top: 157px;
    left: 286px;
    z-index: 13;
}

.registerWindow.closeMiddle .textArea input {
    border-style: none;
    outline: none;
    -webkit-appearance: none;
    background: #ED2553;
    height: 11px;
    line-height: 11px;
    display: block;
}

.registerWindow.closeMiddle .underscore {
    width: 100%;
    border: 1px solid #F77C99;
    height: 1px;
}
.regWindowMask.closeMiddle {
    position: absolute;
    width: 100%;
    height: 461px;
    top: 80px;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 1px #ED2553 solid;
}
.regWindowMask.closeMiddle .innerMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ED2553;
    opacity: 0.7;
    z-index: 11;
    border-radius: 50%;
}

.regWindowMask.openMiddle {
    border-radius: 50%;
    position: absolute;
}
