
.regWindowMask.inactive {
    position: absolute;
    background-color: #ED2553;
    height: 141px;
    width: 141px;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    left: 376px;
    top: 40px;
    transform-origin: 50% 50%;
}

.registerWindow.inactive {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.registerWindow.click {
    animation: ease-in circleToSquare 0.3s;
}

.registerWindow.inactive .textArea {
    visibility: hidden;
}

/* .registerWindow .buttonWrapper {
    border: 1px solid black;
    position: relative;
} */



.regWindowMask.inactive .shu,
.regWindowMask.inactive .heng {
    width: 6px;
    height: 30px;
    position: absolute;
    background-color: white;
    transform-origin: center center;

}

.regWindowMask.inactive .shu {
    transform: rotate(45deg);
}

.regWindowMask.inactive .heng {
    transform: rotate(-45deg);
}

.regWindowMask.inactive .buttonWrapper {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    align-items: center;
    transform: rotate(-135deg);
    position: absolute;
    top: 53px;
    left: 56px;
    z-index: 13;
}

/*****************************************/

.regWindowMask.active {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 20px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    transform-origin: 50% 50%;
}

.registerWindow.active {
    display: block;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ED2553;
    top: 0px;
    left: 0;
}

.registerWindow.active .registerLogoWrapper {
    display: flex;
    margin: 60px 0 40px 0;
    align-items: center;
}

.registerWindow.active .registerLogo {
    padding-left: 44px;
    color: #ffffff;
    font-family: "Calibri", "Franklin Gothic Demi", "Source Sans Pro Black", "Aharoni", "Cooper Black";
    font-size: 37px;
    line-height: 44px;
    height: 44px;
    border-left-color: white;
    border-left: 4px solid white;
    font-weight: normal;
}

.registerWindow.active label {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: "Calibri", "Tahoma";
    font-size: 26px;
    font-weight: lighter;
}

.registerWindow.active .itemWrapper {
    width: 100%;
    color: #ffffff;
    margin-bottom: 54px;
}

.registerWindow.active .itemWrapper:nth-child(3) {
    margin-bottom: 45px;
}

.registerWindow.active .textArea {
    margin: 0 53px;
}

.registerWindow.active .nextButton {
    background-color: #fff;
    max-width: 365px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    color: #ED2553;
    font-family: "Arial Unicode MS";
    font-size: 23px;
    font-weight: bolder;
}

.regWindowMask.active .buttonWrapper .shu,
.regWindowMask.active .buttonWrapper .heng {
    width: 6px;
    height: 30px;
    position: absolute;
    background-color: white;
    transform-origin: center center;
    z-index: 13;
}

.regWindowMask.active .buttonWrapper .shu {
    transform: rotate(45deg);
}

.regWindowMask.active .buttonWrapper .heng {
    transform: rotate(-45deg);
}

.regWindowMask.active .buttonWrapper {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    align-items: center;
    transform: rotate(0deg);
    position: absolute;
    left: 378px;
    top: 67px;
    z-index: 13;
}

.regWindowMask.active .textArea input {
    border-style: none;
    outline: none;
    -webkit-appearance: none;
    background: #ED2553;
    height: 11px;
    line-height: 11px;
    display: block;
}

.regWindowMask.active .underscore {
    width: 100%;
    border: 1px solid #F77C99;
    height: 1px;
}

.regWindowMask.active {
    display: block;
}

.regWindowMask.inactive .innerMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ED2553;
    opacity: 1;
    z-index: 11;
    border-radius: 50%;
}

.regWindowPos {
    position: relative;
    
}
/* 
.registerWindow {
    display: block;
    border-radius: 10px;
    position: absolute;
    width: 461px;
    height: 552px;
    background-color: #ED2553;
    top: -35px;
    left: 0;
    z-index: 10;
}

.regWindowMask {
    position: absolute;
    width: 100%;
    height: 461px;
    top: 80px;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 1px #ED2553 solid;
} */