* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all cubic-bezier(.12,.91,.86,.75) 0.4s;
}

body {
    background-color: #88F9E5;
}

.window-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginWrapper {
    position: relative;
    width: 461px;
    height: 552px;
    margin-bottom: 150px;
}

.windowBase {
    position: absolute;
    background-color: #B6FBEF;
    top: 0;
    left: calc(10% / 2);
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.loginWindow {
    border-radius: 10px;
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: #FFFFFF;
    top: 10px;
    left: calc(5% / 2);
}
